<!doctype html>
<html lang="ru">
<head>
  {% include "base_head.html" %}
  <title>{{ 'Редактирование' if item else 'Создание' }} ({{ title }})</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="body">

{% include "base_body.html" %}
{% include "navbar.html" %}

<div class="container py-5">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="display-5 fw-bold">
      {% if item %}Редактирование{% else %}Создание{% endif %} ({{ title }})
    </h1>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <form method="post" novalidate enctype="multipart/form-data">
        {% for field in fields %}
          <div class="mb-4">
            <label class="form-label fw-semibold">{{ field.label }}</label>
            {% if field.options %}
              <select name="{{ field.name }}" class="form-select">
                {% for opt in field.options %}
                  <option value="{{ opt.id }}" {% if item and item.get_value(field.id) == opt.id %}selected{% endif %}>{{ opt.label }}</option>
                {% endfor %}
              </select>
            {% elif field.is_checkbox %}
              <input
                type="checkbox"
                class="form-input-control {% if errors and field.id in errors %}is-invalid{% endif %}"
                name="{{ field.id }}"
                value=""
                {% if item and item.get_value(field.id) %} checked {% endif %}
                {% if field.required %} required {% endif %}
              >
            {% elif field.date_input %}
              <input
                type="date"
                class="form-control {% if errors and field.id in errors %}is-invalid{% endif %}"
                name="{{ field.id }}"
                value="{{ item.get_value(field.id) if item else ''}}"
                {% if field.required %}required{% endif %}
              >
            {% elif field.is_file %}
              <input
                type="file"
                class="form-control"
                name="{{ field.id }}"
                {% if field.required %}required{% endif %}
              >
            {% elif field.textarea %}
              <textarea
                name="{{ field.id }}"
                class="form-control {% if errors and field.id in errors %}is-invalid{% endif %}"
                placeholder="{{ field.placeholder or '' }}"
                {% if field.required %}required{% endif %}
              >{{ item.get_value(field.id) if item else '' }}
            {% else %}
              <input
                name="{{ field.id }}"
                class="form-control {% if errors and field.id in errors %}is-invalid{% endif %}"
                placeholder="{{ field.placeholder or '' }}"
                value="{{ item.get_value(field.id) if item else '' }}"
                {% if field.required %}required{% endif %}
              >
            {% endif %}
            {% if errors and field.id in errors %}
              <div class="invalid-feedback d-block">
                {{ errors[field.id] }}
              </div>
            {% endif %}
          </div>
        {% endfor %}

        {% if main_error %}
        <div class="alert alert-danger" role="alert">
          {{ main_error }}
        </div>
        {% endif %}

        <div class="d-flex gap-3 mt-4">
          <button type="submit" class="btn btn-success">
            Сохранить
          </button>
          <a href="/{{ entity_name }}s" class="btn btn-outline-secondary">
            Назад
          </a>
        </div>
      </form>
    </div>
  </div>

</div>

</body>
</html>